.vscode
__pycache__/
*.py[cod]
Logs/log.txt
src/Logs/log.txt
src/InputOutput/out.*
src/InputOutput/newOutput.html
/.idea/
src/InputOutput/Sample_One_Course.xlsx
*.xlsx
src/.idea/*
src/InputOutput/schedule_info.js