table {
  table-layout: auto;
    border-collapse: collapse;
    width: 100%;
  }
  
table td{
  align-content: center;
}
  
.gray {
  background-color: lightgray;
}

tr td{
  width:1%;
  white-space:nowrap;
}

.overlay {
  display: flex;
  max-height: 35%;
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: -4px;
  left: 0;
  border: solid black 2px;
  background-color: rgba(245,245,220, 0.9);
  overflow: hidden;
  transition: max-height 0.2s;
}

.split {
  display: inline-block;
  float:left;
  width: 45%;
  top: 0;
  overflow: hidden;
  text-align: center;
}

.Util {
  width: 10%;
  top: 0;
  right: 0;
  overflow: hidden;
}

.CourseInfoOverlay {
  left: 0;
}

.CourseEditOverlay {
  right: 10%;
}

#VerticalSplit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.OverlayButton {
  margin: auto;
  height: 30%;
  width: 50%;
}

.EE {
  height: 100%;
}

#img {
  width: fit-content;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #000000;
}

.overlay .closebtn {
  top: 10px;
  right: 60px;
  font-size: 60px;
  z-index:100;
}

.page-break {
  page-break-after:always;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    .info-field {
      border: none !important;
      display: inline !important;
      font-family: inherit !important;
      font-size: inherit !important;
      padding: none !important;
    }
}

