table {
  table-layout: auto;
    border-collapse: collapse;
    width: 100%;
  }
  
table td{
  align-content: center;
}
  
.gray {
  background-color: lightgray;
}

tr td{
  width:1%;
  white-space:nowrap;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: -4px;
  left: 0;
  border: solid black 2px;
  background-color: rgba(245,245,220, 0.9);
  overflow: hidden;
  transition: 0.2s;
}

.CourseInfoOverlay {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #000000;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  z-index:100;
}
