table {
  table-layout: auto;
    border-collapse: collapse;
    width: 100%;
  }
  
table td{
  align-content: center;
}
  
.gray {
  background-color: lightgray;
}

tr td{
  width:1%;
  white-space:nowrap;
}
